/* these all apply to the body elements */

* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

.hidden { display: none; }

html, body { height: 100% }

body { 
  font-family: sans-serif;
  background-color: black;
  color: white;
  background-image: url('../images/denim.png');
}

/*main header rules */

header {
    background-color: red;
    position: sticky;
    top: 0;
    text-align: center;
}

#main-logo { width: 300px; padding: 10px 0; }

/* main rules here */
#character_nav {
    text-align: center;
    background-color: #876a6a;

    background-image: url('../images/images/characters_art_mas_mob_01.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

    background-blend-mode: multiply;
}

.characters { list-style-type: none; }
.characters li { 
    position: relative;
    display: inline-block; 
    height: 220px;
    margin: 10px 8px;

    background-color: black;

    text-align: left;

    cursor: pointer;
}

.characters li h5 {
    padding: 12px 8px;
    color: white;
    position: relative;

    z-index: 500;
}

.characters li a { text-decoration: none;}

.red_bumper {
    width: 100%;
    height: 6px;
    background-color: red;

    transition: height 0.2s ease;

    position: absolute;
}

.characters li:hover .red_bumper {height: 70px;}

article { padding: 20px;}

/* selcet the h3 tag inside the article tag on the page */
/* followed by a space and then ANOTHER selector gets a refrence */
article h3 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 14px;
}

/* selcet the p tag inside the article tag on the page */
article p {
    width: 80%;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
}

.sprite {
    width: 150px;
    height: 150px;

    background-image: url('../images/images/marvelSprites.jpg');
}

#carol { background-position: -150px 0;}
#Clint { background-position: -300px 0;}
#Hulk { background-position: -450px 0;}
#Widow { background-position: -600px 0;}
#Thor { background-position: -750px 0;}

.sprite:hover {background-position-y: -150px !important;}

/* footer rules here */
footer {
    color: antiquewhite;
    padding: 20px 0;
    text-align: center;
}

.sticky_footer {
    position: sticky;
    top: 100%;

    height: 80px;
    background-color: black;
}

/* lightbox rules go here */

.lightbox {
    width: 100vw; /* vw = viewpoet width => screen width*/
    height: 100vh; /* vw = viewport hight => screen height*/

    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.85);
    background-image: url('../images/images/Cap_LB_Bg.png');
    background-repeat: no-repeat;

    background-size: 55vh; /* 55% of the viewport hieght */
    background-position: 40px bottom;

    z-index: 500;

    display: none;
}

#lightbox2 { background-image: url('../images/images/Thor_LB_Bg.png');}

.lightbox_close {
    position: relative;
    top: 20px;
    left: 95%;
    color: white;
    font-size: 3em;
    text-decoration: none;
    font-weight: bolder;
}

.lightbox_close:hover {opacity:0.5 color red;}

.lightbox article {
    width: 55%;
    margin-left: 40%;
    padding-top: 50px;
}

.lb_text, .lb_heading { text-align: left;}

.lb_text {
    line-height: 1.6;
    margin-left: 0;
    padding-top: 2em;
}

.lightbox:target {display: block;}